name: qfnu_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  cookie_jar: ^4.0.8
  dio: ^5.9.0
  dio_cookie_manager: ^3.3.0
  flutter_secure_storage: ^9.2.2
  path_provider: ^2.1.3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
